
div {
  width: 260px;
  height: 350px;
  margin-top: 100px;
  margin-left: 600px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #060606;
  background: #5f2b67;
  color: rgb(255, 255, 255);
  padding: 20px;
}

input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 180px;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  border-bottom: 2px solid rgb(0, 0, 0);
}

button {
  background-color: #ff9b82;
  width: 28px;
  height: 28px;
}

button:hover {
  border-radius: 5px;
}
